html {
    height: 100%;
}
body {
    min-height: 100%;
    background: #ace3f0;
}
body.sign-in-page {
}
body.register-page {
}
body.home-page {
    height: 100%;
}
body.home-page .container,
body.home-page .container>.row {
    height: 100%;
}

.va-middle {
    vertical-align: middle;
}
.custom-checkbox {
    background: url("../img/custom-checkbox.png") 0 50% no-repeat !important;
    box-shadow: none !important;
    padding: 6px 12px 6px 24px !important;
}
.custom-checkbox.active {
    background-image: url("../img/custom-checkbox-checked.png") !important;
}
form span.required {
    font-size: 1.5em;
    line-height: 0;
    color: #f33;
    font-weight: bold;
}



body.sign-in-page form,
body.register-page form {
    padding: 50px 0;
}
.logo-link {
    margin: 10px 0;
    display: inline-block;
}

.main-sidebar {
    transition: width 1s;
    height: 100%;
    width: 30%;
    float: left;
    position: relative;
    background: #fff;
    border: 1px solid #eee;
    border-right: none;
    padding: 10px;
}
.main-content {
    float: right;
    height: 100%;
    width: 70%;
    background: #000;
    position: relative;
    border: 1px solid #eee;
    padding: 10px;
}
.main-content .web-cam-wrapper {
    height: 100%;
    position: relative;
    font-size: 0;
}


.main-content .web-cam-wrapper:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.friend-camera {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-height: 100%;
}
.friend-camera *{
    max-width: 100%;
    max-height: 100%;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus,
.nav-tabs {
    border-color: #eee;
}
.main-sidebar .tab-content {
    border: 1px solid #eee;
}
.contacts-list {
    margin: 0;
    padding: 0;
}
.contacts-list li {
    list-style: none none;
}
.contacts-list li a {
    height: 40px;
    color: #000;
    display: block;
    position: relative;
}
.contacts-list li a:hover {
    text-decoration: none;
    background-color: #ccc;
}
.contacts-list li.active a {
    background-color: #0095cc;
    color: #fff;
}
.contacts-list li a .display-name {
    display: inline-block;
    vertical-align: middle;
}
.contacts-list li a .new-message-num {
    border-radius: 100%;
    width: 15px;
    height: 15px;
    text-align: center;
    font-weight: 600;
    line-height: 15px;
    font-size: 10px;
    display: block;
    background: #ff6500;
    color: #fff;
    position: absolute;
    top: 50%;
    right: 0;
    margin: -5px 20px -5px 0;
}
.contacts-list li a .user-img {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    height: 30px;
    max-width: 30px;
}
.contacts-list li a .user-img img {
    max-width: 100%;
    max-height: 100%;
}


@media (min-width: 992px) {
    .container {
        transition: max-width 0.5s;
    }
}
@media (max-width: 992px)
{
    .main-sidebar {
        padding: 0;
        border: none;
        position: absolute;
        right: 100%;
    }
    .main-content {
        padding: 0;
        border: none;
        width: 100%;
    }
}